* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-color: #CFFFDC;
}

body {
    height: 100vh;
    width: 100%;

    overflow-x: hidden;

    background-image: url("../assets/website-bg.png");
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 250px;

    background-color: rgba(0, 51, 20, 0.766);

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidebar.open {
    transform: translateX(0);
}

#nav-button {
    position: absolute;
    top: 20px;
    right: -40px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

.main-content {
    margin: 0;
}


#greeting, #greeting-footer {
    visibility: hidden; 
}

.typing::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.header-box {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.text-box {
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding-top: 25px;
    
}

.dummy-box {
    width: 70%;
}


