* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-color: #CFFFDC;
}

body {
    height: 100vh;
    width: 100%;

    overflow-x: hidden;

    background-image: url("../assets/website-bg.png");
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 250px;

    background-color: rgba(0, 51, 20, 0.766);

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidebar.open {
    transform: translateX(0);
}

#nav-button {
    background-color: transparent;
    background-image: url("../assets/OFF.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    top: 18px;
    right: -82px;

    width: 64px;
    height: 64px;
    border: none;

    cursor: pointer;
}

span {
    display: none;
    background-color: transparent;
}

#nav-button.on {
    background-image: url("../assets/ON.png");
}

.main-content {
    margin: 0;

    width: 100%;
    height: 100%;
}


#greeting, #greeting-footer {
    visibility: hidden; 
}

.typing::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.header-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

}

.text-box, .left-content, .center-cont {
    flex: 1;



}

.text-box {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    position: relative;
    

}

.center-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icons {
    
    display: flex;
    margin-top: auto;
    width: 100%;

    justify-content: space-evenly;


    margin-bottom: 25px;
}

#x, #instagram, #github {

    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    width: 45px;
    height: 45px;
    border: none;

    cursor: pointer;
}

#x {
    background-image: url("../assets/X.png");
}

#instagram {
    background-image: url("../assets/INSTAGRAM.png");
}

#github {
    background-image: url("../assets/GITHUB.png");
}


.text-box-head {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;

    height: 100%;

}

.bottom-desc {
    display: flex;
    margin-top: auto;
    width: 75%;

    justify-content: center;
    align-items: center;


    margin-bottom: 25px;

}

.bottom-desc h1 {
    font-size: large;
    text-align: center;
}

.left-content {
    width: 70%;
    height: 100%;
    border: 2px solid black;
    display: flex;
}
.left-bottom {
    display: flex;
    margin-top: auto;
    width: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: row;


    
}

.arrow {
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: bottom center;

    background-size: cover;

    width: 90px;
    height: 90px;
    background-image: url('../assets/ARROW.png');
}


