@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Courier Prime", monospace;
    letter-spacing: 0.03em;


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-color: #CFFFDC;
}

body {
    height: 100vh;
    width: 100%;

}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges; /* Safari, older Chrome */
    -webkit-optimize-contrast: initial; /* Webkit */
}

.whole-content {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: flex-end;
}

.main-content {
    overflow-x: hidden;

    background-image: url("../assets/website-bg.png");
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;

    margin: 0;

    width: 100%;
    height: 100%;


    transition: margin-left 0.3s ease;
}

.main-content.shifted {
    margin-left: 200px;
}


#greeting, #greeting-footer {
    visibility: hidden; 
}

.typing::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.header-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

}

.text-box, .left-content, .center-cont {
    flex: 1;



}

.text-box {
    height: 100%;

    display: flex;

    flex-direction: column;

    position: relative;

    justify-content: center;
    align-items: center;


    

}

.center-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icons {
    
    display: flex;
    margin-top: auto;
    width: 100%;

    justify-content: space-evenly;


    margin-bottom: 40px;


}

#x, #instagram, #github {

    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    width: 45px;
    height: 45px;
    border: none;

    cursor: pointer;
}

#x {
    background-image: url("../assets/X.png");
}

#instagram {
    background-image: url("../assets/INSTAGRAM.png");
}

#github {
    background-image: url("../assets/GITHUB.png");
}

.text-box-head-left h1 {
    font-size: medium;
}

.text-box-head-left h2 {
    font-size: small;
}


.text-box-head-left, .text-box-head-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;

    
}

.text-box-head-left {
    margin-top: 134px;

}

.text-box-head-right {
    padding-top: 75px;

    text-align: center;
    font-size: x-small;
    width: 50%;
}


.bottom-desc {
    display: flex;
    margin-top: auto;
    width: 75%;

    justify-content: center;
    align-items: center;


    margin-bottom: 40px;

}

.bottom-desc h2 {
    font-size: medium;
    text-align: center;
}

.left-content {

    height: 100%;
    display: flex;
    flex-direction: column;
}
.left-bottom {
    display: flex;
    margin-top: auto;
    width: 100%;

    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;    
}

.arrow {
    display: flex;
    width: 25%;             
    overflow: hidden;
            
}

.arrow img {
    width: 90px;
    height: 100%;


    animation: slide 1.0s ease-in-out infinite alternate;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(15px);
    }
}

.social-media-plug h1{
    font-size: small;
    text-align: center;
}

.social-media-plug {
    width: 50%;
    padding-bottom: 5px;

}


/* NAV BAR*/

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding-top: 32px ;
}

nav a {
    color: black;
    font-style: none;
    text-decoration: none;

    background-color: white;

    padding: 5px;
}

#sidebar {
    
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 200px;

    background-color: white;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidebar.open {
    transform: translateX(0);
}

#nav-button {
    background-color: transparent;
    background-image: url("../assets/OFF.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    top: 18px;
    right: -82px;

    width: 64px;
    height: 64px;
    border: none;

    cursor: pointer;
}

span {
    display: none;
    background-color: transparent;
}

#nav-button.on {
    background-image: url("../assets/ON.png");
}

.nav-footer {
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home img {
    width: 24px;
    height: 24px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio img {
    width: 32px;
    height: 32px;
}