@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}
body {
    font-family: "Courier Prime", monospace;
    letter-spacing: 0.03em;
}

#music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    padding: 10px;

    background-image: url('../assets/mp3-player.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;

    width: 300px;
    height: 500px;



}

#song-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#song-name {

    font-size: 1em;
}

#song-artist {
    font-size: 0.5em;
}

#music-buttons {
    display: flex;

    margin-top: 90px;


    margin-bottom: 28px;
}

#music-buttons:hover {
    cursor: pointer;
}



.backward-skip {
    width: 64px;
    height: 64px;

    background-image: url('../assets/SKIP-BACKWARD.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}

.forward-skip {
    width: 64px;
    height: 64px;

    background-image: url('../assets/SKIP-FORWARD.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}

.play {
    width: 64px;
    height: 64px;

    background-image: url('../assets/PAUSE.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}

.pause {
    width: 64px;
    height: 64px;

    background-image: url('../assets/PLAY.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}

#slider-song {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 5px;
    background-color: gray;

    border-radius: 10px;

    margin-top: 5px;

}

#slider-song::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #5e17eb;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.whole-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}