nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;

}

nav a {
    color: black;
    font-style: none;
    text-decoration: none;

    background-color: white;

    padding: 5px;

    font-size: small;
}

#sidebar {
    
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 200px;

    background-color: white;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidebar.open {
    transform: translateX(0);
}

#nav-button {
    background-color: transparent;
    background-image: url("../assets/OFF.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    top: 18px;
    right: -82px;

    width: 64px;
    height: 64px;
    border: none;

    cursor: pointer;

}

span {
    display: none;
    background-color: transparent;
}

#nav-button.on {
    background-image: url("../assets/ON.png");
}

.nav-footer {
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
}

#house {
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: contain;

    width: 32px;
    height: 32px;
    border: none;

    cursor: pointer;

    background-image: url('../assets/HOUSE.png');

    transition: transform 0.3s ease-in-out;
}

#house:hover {
    transform: scale(2);
}


.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio img {
    width: 32px;
    height: 32px;
}

