@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}
body {
    font-family: "Courier Prime", monospace;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.whole-content {
    width: 80%;
    height: 100vh;


    display: flex;
}

#tv {
    background-color: transparent;
    background-image: url("../assets/TV-OFF.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 75%;
    height: 100%;

    position: relative;
}

#tv.on {
    background-color: transparent;
    background-image: url("../assets/TV.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 75%;
    height: 100%;

    position: relative;
}

#tv-display {
    position: absolute;

    width: 275px;
    height: 225px;

    display: none;

    top: 150px;
    left: 140px;



}

#tv-display.show {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#project-img {
    width: 200px;
}

#on-btn {
    position: absolute;

    top: 15%;
    right: 78%;

    width: 10%;
    aspect-ratio: 1 / 1;
}

#on-btn:hover {
    cursor: pointer;
}
#remote {

    position: relative;

    width: min(25vw, 260px);
    aspect-ratio: 2 / 6; 

    background-image: url("../assets/REMOTE.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin-right: 5vw;
}
#control-buttons {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;

}

#center-control {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

#prev {
    width: 32px;
    height: 32px;

    background-image: url('../assets/SKIP-BACKWARD.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}
#play {
    width: 32px;
    height: 32px;

    background-image: url('../assets/PLAY.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}
#forward {
    width: 32px;
    height: 32px;

    background-image: url('../assets/SKIP-FORWARD.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}
#up {
    width: 100%;
    height: 32px;

    background-image: url('../assets/UP.png');
    background-size:contain;
    background-repeat: no-repeat ;
    background-position: center;
}
#down {
    width: 100%;
    height: 32px;

    background-image: url('../assets/DOWN.png');
    background-size:contain;
    background-repeat: no-repeat ;
    background-position: center;
}

div {
    border: 1px solid black;
}

