@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}
body {
    font-family: "Courier Prime", monospace;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.whole-content {
    width: 80%;
    height: 100vh;


    display: flex;
}

#tv {
    background-color: transparent;
    background-image: url("../assets/TV-OFF.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 75%;
    height: 100%;

    position: relative;
}

#tv.on {
    background-color: transparent;
    background-image: url("../assets/TV.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 75%;
    height: 100%;

    position: relative;
}

#tv-display {
    position: absolute;

    width: 275px;
    height: 225px;

    display: none;

    top: 150px;
    left: 140px;


}

#tv-display.show {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;

}

#on-btn {
    position: absolute;

    width: 24px;
    height: 24px;


    top: 95px;
    right: 177px;

}

#on-btn:hover {
    cursor: pointer;
}
#remote {
    background-color: transparent;
    background-image: url("../assets/REMOTE.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 25%;
    height: 100%;
    margin-right: 100px;

    position: relative;
}
#control-buttons {
    border: 1px solid black;
    position: absolute;
    width: 225px;
    top: 250px;

}

#center-control {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

#prev {
    width: 32px;
    height: 32px;

    background-image: url('../assets/SKIP-BACKWARD.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}
#play {
    width: 32px;
    height: 32px;

    background-image: url('../assets/PLAY.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}
#forward {
    width: 32px;
    height: 32px;

    background-image: url('../assets/SKIP-FORWARD.png');
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
}
#up {
    width: 100%;
    height: 32px;

    background-image: url('../assets/UP.png');
    background-size:contain;
    background-repeat: no-repeat ;
    background-position: center;
}
#down {
    width: 100%;
    height: 32px;

    background-image: url('../assets/DOWN.png');
    background-size:contain;
    background-repeat: no-repeat ;
    background-position: center;
}

div {
    border: 1px solid black;
}

